[Unit]
Description=Display basic system information and Energy Meter on a OLED display
After=multi-user.target

[Service]
Type=idle
ExecStart=/home/pi/RpiHwMeterMonitor/sys_info.py
KillSignal=SIGINT
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target